<div class="banner">
  <div class="banner-content">
    <h1 class="banner-title">Découvrez des œuvres uniques</h1>
    <p class="banner-subtitle">Explorez, admirez, et réservez les plus belles œuvres d'art.</p>
    <%= link_to 'Voir toutes les œuvres', artworks_path, class: 'btn btn-primary' %>
  </div>
</div>
<h1>Liste des œuvres d'art</h1>
<% if user_signed_in? %>
  <%= link_to 'Nouvelle œuvre', new_artwork_path, class: "btn btn-primary" %>
<% end %>
<!-- Grille des œuvres -->
<%= render "shared/usercardgrid" %>
