<h1> Liste des oeuvres d'art</h1>
<% if user_signed_in? %>
  <%= link_to 'Nouvelle oeuvre', new_artwork_path %>
<% end %>
<ul>
  <% @artworks.each do |artwork| %>
    <li>
      <% if artwork.image.attached? %>
        <%= image_tag artwork.image.variant(resize_to_limit: [100, 100]), class: "thumbnail" %>
      <% else %>
        <p>Aucune image disponible</p>
      <% end %>
      <%= link_to artwork.title, artwork_path(artwork) %>
      - <%= number_to_currency(artwork.price) %>
    </li>
  <% end %>
</ul>
