<% if @current_bookings.any? %>
          <div class="booking-cards">
            <% @current_bookings.each do |booking| %>
              <div class="card">
                <div class="card-body">
                  <h3><%= booking.artwork.title %></h3>
                  <p>Date de début : <%= booking.start_date.strftime('%d/%m/%Y') %></p>
                  <p>Date de fin : <%= booking.end_date.strftime('%d/%m/%Y') %></p>
                  <p>Status : <%= booking.status %></p>
                 
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>Aucune réservation en cours.</p>
        <% end %>




NEW
